<!-- Loop over each object in the array -->
{{#each posts as |post| }}
<div class="posts">
  <div class="post-heading title">
    <h2 class="post-heading">
      <a href="/post/{{post.id}}" class="post-heading">{{post.title}}</a>
    </h2>
    <p class="post-heading">Created by {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
  <div class="post-body">
    <p>
      {{post.description}}
    </p>
  </div>
</div>
{{/each}}